.custom-setup-item {
  --hoverColor: #252a30;
}

.custom-setup-item {
  position: relative;
  padding: 16px;
  user-select: none;
  margin-bottom: 8px;
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 18px;
}

.custom-setup-item:last-child {
  margin-bottom: 0;
}

.custom-setup-item:hover {
  background-color: var(--hoverColor);
}

.custom-setup-item--dragging {
  background-color: var(--hoverColor);
}

.custom-setup-item--disabled {
  background-color: transparent;
  color: var(--secondaryColor);
}

.custom-setup-item--disabled:hover {
  background-color: transparent;
}

.custom-setup-item__content {
  position: relative;
  padding-left: 35px;
}

.custom-setup-item__icon--hovering {
  display: none;
}

.custom-setup-item:hover .custom-setup-item__icon--hovering {
  display: block;
  top: -2px;
  left: 0;
  position: absolute;
}

.custom-setup-item--hovering:hover .custom-setup-item__icon--hovering {
  display: none;
}

.custom-setup-item__icon--disabling {
  display: block;
  top: -2px;
  left: 0;
  position: absolute;
}
