.custom-setup-column {
  position: relative;
  width: 100%;
  height: calc(100% - 2rem);
}

.custom-setup-column--with-separator::after {
  position: absolute;
  right: -1rem;
  top: 0;
  content: "";
  width: 0;
  height: 100%;
  border-right: 2px var(--secondaryColor) dashed;
}

.custom-setup-column--dragging {
  background-color: #252a305e;
}

.custom-setup-column__title {
  color: var(--secondaryColor);
  font-size: 1rem;
}
